div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  background-image: linear-gradient(#fff, #ccc);
}

.singleUser {
  height: 240px;
  width: auto;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.singleUser span {
  font-size: 18px;
  color: aqua;
}

.imgStyle {
  border: 1px solid rgb(36, 26, 26);
  height: 96px;
  /* width: auto; */
  object-fit: contain;
}
